<header class="header container">
  <div class="logo">
    <svg [icon]="icons.logo" class="svg32"/>
    <h1 class="logo-text">RatherWeather</h1>
  </div>

  <div class="right-side">
    <a
      [routerLink]="['/']"
      class="body-1 link"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}"
    >Main</a>

    <a
      [routerLink]="['/next-days']"
      class="body-1 link"
      routerLinkActive="active"
    >Upcoming days</a>

    <button
      (click)="getMyCoords()"
      class="location-btn"
    >Get my coords</button>
  </div>

</header>

<div class="container">
  <ng-content></ng-content>
</div>
