.current-weather {
  padding: 64px;
  border-radius: 32px;
  background: linear-gradient(252.44deg, rgba(239, 255, 253, 0.7) 0%, rgba(239, 255, 253, 0) 100%);
  backdrop-filter: blur(40px);
  position: relative;

  .weather-icon {
    position: absolute;
    top: 64px;
    right: 64px;
    width: 200px;
  }

  .temperature-wrapper {
    display: flex;
    gap: 24px;
    align-items: flex-end;
  }

  .temperature-main {
    font-size: 88px;
    line-height: 72px;
  }

  .other-parameters {
    list-style: none;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 32px;
  }
}

.main-page-skeleton {
  height: 400px;
  width: 100%;
  border-radius: 32px;
}

$margin-sizes: (8, 24, 48);

@each $i in $margin-sizes {
  .mb#{$i} {
    margin-bottom: #{$i}px;
  }
}
